.container{
    height: 100vh;
    width: 100%;
    
}
.header {
    width: 100%;
    height: 20%;
    position: relative; 
    border-bottom: 3px solid navy;
    text-align: center;
    font-size: 80px;
    font-weight: bold; 
    color: rgb(45, 3, 80);
}

.header::before {
    content: "";
    background-image: url(apple.png);
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5; 
    z-index: 0; 
}
#itemTable button{
    background-color: aquamarine;
    border-radius: 10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100px;
    height: 40px;
}
.item button{
    border-radius: 10px;
    width: 100px;
    height: 40px; 
}
.middle{
    width: 100%;
    height: 70%;    
}
.middle div{
    float: left;
}
.item{
    margin: 5px;
    height: 100%;
    width: 70%;
}
.item table{
    width: 100%;
}

#cartEmo{
    position: absolute;
    font-size: 20px;
}
.cart{
    border-left: 2px solid navy;
    border-radius: 5px;
    background-color: blanchedalmond;
    height: 90%;
    width: 25%;
}
.cart table{
    width: 100%;
    font-size: 10px;
}
.footer{

}